.avatar-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 75%;
  }

  h3 {
    text-align: center;
  }
}

.nav-caption {
  display: inline-block;
  margin-left: 6px;
}
