<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a routerLink="/" style="padding-left: 16px;">Fitness Tracker</a>
  <ul fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
    <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
    <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
    <li *ngIf="isAuth"><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
  </ul>
</mat-toolbar>
